# Python
__pycache__/

# Virtual Environment
.env
.venv


# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.vs/

# Project specific directories
data/            # Ignore everything in data folder
output/          # Ignore everything in output folder

# Keep the folders but ignore their contents
!data/.gitkeep
!output/.gitkeep
 